@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);


#menu-0.mbr-navbar--stuck .mbr-navbar__section {
	background: #ffffff;
}
#menu-0 .mbr-navbar__section {
}
#header1-1 H1 {
	font-family: 'Indie Flower', cursive;
	font-size: 80px;
	color: #000000;
}
#header1-1 P {
	color: #000000;
	font-family: 'Oswald', sans-serif;
}

@media (max-width: 768px) {
	.folleto {
		display: none;
	}

	.pdfPrecios {
		left: 0px;
		flex-direction: column;
	}

	.pdfPrecios img {
		width: 300px;
	}
}

@media (min-width: 769px) {
	.pdfPrecios {
		left: 372px;
	}

	.pdfPrecios img {
		width: 50px;
	}
}

@media (max-width: 545px) {
	#header1-1 H1 {
		word-break: break-word;
		font-size: 45px;
	}
}

@media (max-width: 425px) {
	#header1-1 H1 {
		word-break: break-word;
		font-size: 35px;
	}

@media (max-width: 320px) {
	#header1-1 H1 {
		word-break: break-word;
		font-size: 25px;
	}
}


#social-buttons1-16 .mbr-header__text {
	color: #9c9c9c;
}
#menu-8.mbr-navbar--stuck .mbr-navbar__section {
	background: #ffffff;
}
#menu-8 .mbr-navbar__section {
}
#social-buttons2-18 .mbr-header__text {
	color: #9c9c9c;
	text-align: right;
}
#menu-8.mbr-navbar--stuck .mbr-navbar__section {
	background: #ffffff;
}
#menu-8 .mbr-navbar__section {
}
#header1-31 P {
	color: #000000 !important;
}
#header1-31 H1 {
	color: #000000 !important;
}
#testimonials1-18 P {
	text-align: center !important;
}
#menu-8.mbr-navbar--stuck .mbr-navbar__section {
	background: #ffffff;
}
#menu-8 .mbr-navbar__section {
}
#menu-19.mbr-navbar--stuck .mbr-navbar__section {
	background: #ffffff;
}
#menu-19 .mbr-navbar__section {
}
#msg-box1-26 h2 {
	color: #fff;
}
#msg-box1-26 p {
	color: #fff;
}
#menu-20.mbr-navbar--stuck .mbr-navbar__section {
	background: #ffffff;
}
#menu-20 .mbr-navbar__section {
}
